/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #e4e4e4;
	font-family: 'Segoe UI', sans-serif;
	color: black;
	font-size: 22px;
	line-height: 24px;

}

.stop_scroll {
	overflow: hidden;
}

h2 {
	font-size: 31px;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.wrapper {
	width: 100%;
	max-width: 1385px;
	margin: 0px auto;
	display: grid;
	position: relative;
}

/* /////////////////////////////////////////////  header  /////////////////////////////////////////// */

.header {
	height: 256px;
	max-width: 1385px;
	margin-bottom: 10px;
	color: #ffffff;
	background: url('./img/header_2.png');
	background-repeat: no-repeat;
	background-origin: border-box;
	text-align: center;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 3px #8f8d8d;
}

.header__text {
	margin: 59px 0px 20px 0px;	
}

.header__text h1 {
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
}

.header__text h2 {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.header__logo {
	z-index: 4;

}

.header__image-logo img {
	border-radius: 50%;
	box-shadow: 0px 3px 3px #b9b5b5;	
}

.link {
	width: 130px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.link a:hover {
	transform: scale(1.2);
}

/* /////////////////////////////////////////////  main  /////////////////////////////////////////// */

.main {
	width: 90%;
	margin: 0px auto;
}

.info {
	display: flex;
	background-color: #fafafa;
	margin-bottom: 20px;
	padding: 190px 59px 36px;
	font-size: 22px;
	box-shadow: 4px 3px 3px #b9b5b5;
}

@media(max-width:500px) {
	.info {
		flex-direction: column;
	}
}

.about {
	width: 50%;
	padding: 0px 0px 0px 10px;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 1.5;
}

@media(max-width:500px) {
	.info {
		flex-direction: column;
	}

	.about {
		width: 100%;
		margin-bottom: 30px;
	}

	.basic {
		padding: 0px;
	}
}

.about p {
	padding-right: 20px;
	border-right: 3px solid rgba(181, 181, 181);
}

.basic {
	padding-left: 40px;
}

@media(max-width:900px) {
	.info {
		flex-direction: column;
	}

	.about {
		width: 100%;
		padding: 0px;
		margin-bottom: 30px;
	}

	.about p {
		border: none;
	}

	.basic {
		padding: 0px;
	}
}

.basic__table {
	margin-bottom: 10px;
}

.basic__table th {
	text-align: left;
	letter-spacing: normal;
	word-spacing: normal;
}

.basic__table td {
	padding-left: 10px;


}

.button__contact {
	width: 200px;
	height: 50px;
	padding: 12px 0px 10px 14px;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #d3d925;
	font-size: 20px;
	cursor: pointer;
	text-align: left;

}

.button__contact::after {
	margin-left: 10px;
	content: url('./img/Let1.png');
}

.button__contact:hover {
	box-shadow: 0px 1px 7px 4px #b9b5b5;
}


.work {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 35px 30px 30px 59px;
	box-shadow: 4px 3px 3px #b9b5b5;	
}

.work__lists {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.work__list {
	display: grid;
	grid-template-columns: minmax(auto, 197px) 1fr;		
}

.work__list-date {
	position: relative;
	top: -5px;
	left: 20px;
	border-radius: 5px;
	display: flex;
	height: 85%;
	align-items: center;
	padding: 20px 30px 20px 20px;
	background-color: #eaeaea;	
	}

.work__list-text {
	display: flex;
	align-items: center;
	padding: 10px 20px 10px 30px;
	border: 2px solid #eaeaea;	
	border-radius: 5px;
	box-shadow: 5px 0px 13px 4px #eaeaea;	
}

.skills {
	background-color: #fff;
	margin-bottom: 20px;
	padding: 35px 59px 30px 59px;
	box-sizing: border-box;
	box-shadow: 4px 3px 3px #b9b5b5;
}

.skills h2 {
	margin-bottom: 20px;
}

.skills__items {
	display: grid;
	grid-template-columns: 40% 60%;
	column-gap: 20px;	
}

.skills__item {
	width: 100%;
	background-color: #eaeaea;
	padding: 22px;
	border-radius: 5px;
	box-shadow: 4px 3px 3px #b9b5b5;
}

.skills__item h3 {
	margin: 10px 0px 30px 0px;
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, auto));
	column-gap: 10px;
	row-gap: 10px;

}

.items.professional{
	grid-template-columns: repeat(auto-fit, minmax(110px, auto));
}

@media (max-width: 1290px) {
	.skills__items {
		grid-template-columns: 50% 50%;
	}
}

@media (max-width: 1062px) {
	.items {
		justify-content: center;
	}
}

.item {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
}

.item p {
	padding: 0px 0px 0px 10px;
}

.image {
	display: flex;
	column-gap: 5px;
	margin: 10px 0px 28px 0px;
}

.image img:hover {
	cursor: pointer;
}

/* //////////////////////////////////////// Modal and Form //////////////////////////////////////////////////// */


.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 9999;	
	transition: all 0.8s ease 0s;		
}

.modal__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.modal__content {
	position: relative;
	opacity: 0;
	transform: translate(0px -100%);
}

.modal.active {
	opacity: 1;
	visibility: visible;	
}

.modal.active .modal__content {
	opacity: 1;
	transform: translate(0px 0px);	
}

.contact-info{	
	padding: 40px;	
	font-size: 28px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

@media (max-width: 1062px) {
	.contact-info{
		padding: 20px;
		font-size: 16px;
		row-gap: 15px;
	}
}


.contact-info a{
	text-decoration: none;
	color: black;
}

.contact-info__item{
	display: flex;
	align-items: center;
	column-gap: 5px;
}

/* ///////////////////// */


.ok-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	background-color: #d3d925;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0px 3px 0px black;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
}

.ok-button:hover {
	background-color: #9ca01b
}

.ok-button:active {
	top: 3px;
	box-shadow: 0px 2px 0px black;

}